html {
    width: 100vw;
    height: 100vh;
    background-color: grey;
    display: grid;
}

body {
    width: 32.5vw;
    height: 80vh;
    box-sizing: border-box;
    display: grid;
    align-self: center;
    justify-self: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas: 
    "display display display display"
    "clear clear delete delete"
    "factorial sign power division"
    "nine eight seven multiplication"
    "six five four subtraction"
    "three two one addition"
    "decimal-point nil equal addition";

    border: solid 10px rgb(93, 93, 93);
    border-radius: 4px;
}

#display {
    background-color: white;
    display: grid;
    grid-area: display;
    width: 100%;
    height: auto;
    border-radius: 5px;
}

/*ERASERS*/
#delete {
    grid-area: delete;
}
#clear {
    grid-area: clear;
}

/*FUNCTIONS*/
#power {
    grid-area: power;
}
#sign {
    grid-area: sign;
}
#factorial {
    grid-area: factorial;
}

/*KEYS*/
#nine {
    grid-area: nine;
}
#eight {
    grid-area: eight;
}
#seven {
    grid-area: seven;  
}
#six {
    grid-area: six;
}
#five {
    grid-area: five;
}
#four {
    grid-area: four;
}
#three {
    grid-area: three;
}
#two {
    grid-area: two;
}
#one {
    grid-area: one;  
}
#nil {
    grid-area: nil;
}
#decimal-point {
    grid-area: decimal-point;
}
#equal {
    grid-area: equal;
}

/*OPERATORS*/
#division {
    grid-area: division;
}
#multiplication {
    grid-area: multiplication;
}
#subtraction {
    grid-area: subtraction;
}
#addition {
    grid-area: addition;
}

/*CLASSES*/
.button {
    font-size: 22.5px;
}